.movementWrapper {
    width: fit-content; /* Adjust to your desired width */
    height: fit-content; /* Adjust to your desired height */
    margin: auto;  // Set a maximum width for the div
  }
  
  .movementImg {
    width: 100%;
    height: auto;
  }