<app-navbar></app-navbar>
<div class="container">
    <div class="video">
        <app-video-player></app-video-player>
    </div>
    
    <div class="movement-container">
        <div class="buttons-contianer">
            <button type="button" class="btn btn-primary btn-lg alarm" (click)="toggleAlarm()">{{alarmButtonText}}</button>
            <button type="button" class="btn btn-primary btn-lg detection" (click)="toggleDetection()">{{detectionButtonText}}</button>
        </div>
        <div class="movement-history">
            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                        <th>Registro de movimientos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let movement of movements.slice((paginator.pageIndex * paginator.pageSize), ((paginator.pageIndex + 1) * paginator.pageSize))"
                        (click)="openModal(movement)">
                        <td>{{ movement.room + " - " + movement.dateTime }}</td>
                    </tr>
                </tbody>
            </table>
            <mat-paginator [length]="movements.length" [pageSize]="10"></mat-paginator>
        </div>
    </div>
</div>